# Assignment 1: the flow control and statement in Python (09-28)

## **1.** Write a Python code to find all the numbers from the range [1000, 2000], which can be divisible by  5 and is mutiples of 3 at the same time. Use the `if` and `for` statement and the `and` operation. Put the results into a integer list.

In [2]:
int_list = []

for num in range(1000,2001):
    if num%5 == 0 and num%3 == 0:
        int_list.append(num)
print(int_list , end = ' ')

[1005, 1020, 1035, 1050, 1065, 1080, 1095, 1110, 1125, 1140, 1155, 1170, 1185, 1200, 1215, 1230, 1245, 1260, 1275, 1290, 1305, 1320, 1335, 1350, 1365, 1380, 1395, 1410, 1425, 1440, 1455, 1470, 1485, 1500, 1515, 1530, 1545, 1560, 1575, 1590, 1605, 1620, 1635, 1650, 1665, 1680, 1695, 1710, 1725, 1740, 1755, 1770, 1785, 1800, 1815, 1830, 1845, 1860, 1875, 1890, 1905, 1920, 1935, 1950, 1965, 1980, 1995]

In [4]:
len(int_list)

67

## **2.** Write a Python code to find all the numbers from the range [1000, 2000], which can be divisible by  7 or can be divisible by 13. Use the `if` and `for` statement and the `and` operation. Put the results into a integer list.

In [3]:
int_list2 = []

for num in range(1000,2001):
    if num%7 == 0 or num%13 == 0:
        int_list2.append(num)
print(int_list2, end = ' ')

[1001, 1008, 1014, 1015, 1022, 1027, 1029, 1036, 1040, 1043, 1050, 1053, 1057, 1064, 1066, 1071, 1078, 1079, 1085, 1092, 1099, 1105, 1106, 1113, 1118, 1120, 1127, 1131, 1134, 1141, 1144, 1148, 1155, 1157, 1162, 1169, 1170, 1176, 1183, 1190, 1196, 1197, 1204, 1209, 1211, 1218, 1222, 1225, 1232, 1235, 1239, 1246, 1248, 1253, 1260, 1261, 1267, 1274, 1281, 1287, 1288, 1295, 1300, 1302, 1309, 1313, 1316, 1323, 1326, 1330, 1337, 1339, 1344, 1351, 1352, 1358, 1365, 1372, 1378, 1379, 1386, 1391, 1393, 1400, 1404, 1407, 1414, 1417, 1421, 1428, 1430, 1435, 1442, 1443, 1449, 1456, 1463, 1469, 1470, 1477, 1482, 1484, 1491, 1495, 1498, 1505, 1508, 1512, 1519, 1521, 1526, 1533, 1534, 1540, 1547, 1554, 1560, 1561, 1568, 1573, 1575, 1582, 1586, 1589, 1596, 1599, 1603, 1610, 1612, 1617, 1624, 1625, 1631, 1638, 1645, 1651, 1652, 1659, 1664, 1666, 1673, 1677, 1680, 1687, 1690, 1694, 1701, 1703, 1708, 1715, 1716, 1722, 1729, 1736, 1742, 1743, 1750, 1755, 1757, 1764, 1768, 1771, 1778, 1781, 1785, 1792, 1794, 1799, 1806, 1807, 1813, 1820, 1827, 1833, 1834, 1841, 1846, 1848, 1855, 1859, 1862, 1869, 1872, 1876, 1883, 1885, 1890, 1897, 1898, 1904, 1911, 1918, 1924, 1925, 1932, 1937, 1939, 1946, 1950, 1953, 1960, 1963, 1967, 1974, 1976, 1981, 1988, 1989, 1995]

In [67]:
len(int_list2)

209

## 3. Write a Python code to ask user to input 5 integer inputs using the `input()` function and `for` loop, and the store all the 5 integers into a interger list. Print the final integer list.

In [9]:
#Create an empty list
input_list = []

#specify the maximum user inputs
list_length = 5

#request for an input for the maximum amount of times stated above then add the inputs into the list created earlier
for num in range(list_length):
    user_input = int(input('Enter an integar: '))
    input_list.append(user_input)

#print out the result
print('The list of inputs are: ', input_list)

Enter an integar: 23
Enter an integar: 12
Enter an integar: 56
Enter an integar: 98
Enter an integar: 446
The list of inputs are:  [23, 12, 56, 98, 446]

## **4.** Write a Python code with for loop to find the smallest number in a given set below. Print the smallest number

In [12]:
number_list = [13, 22, 5, 17, 21, 36, 99, 101, 6]

# find the smallest number in the above number_list with for loop
for i in number_list:
    if i == min(number_list):
        print(i)

5

In [13]:
# Alternatively, we can get the same results by comparing the values in the list with a big value.
small_value = 10000

for num in number_list:
    if small_value > num:
        small_value = num
print(small_value)

5

## **5.** Write a Python code with for loop to find the average of all the even numbers in a given list. Print the final result.

### Try your code in both of the two number lists below and find a way to handle any possible errors

- find the average of all the even numbers in the given list with for loop (e.g., result = (22 + 36 + 6)/3)

- Try your codes in both `number_list` and `number_list_1`

In [21]:
# write your code here
number_list = [13, 22, 5, 17, 21, 36, 99, 101, 6]

In [34]:
# Method 1 
even_num_list = []

for num in number_list:
    if num%2 == 0:
        even_num_list.append(num)
        
even_average = sum(even_num_list)/len(even_num_list)

print('The list of even numbers is: ', even_num_list)
print('The average is: ', even_average)

The list of even numbers is:  [22, 36, 6]
The average is:  21.333333333333332

In [33]:
# Method 2
even_num_sum = 0
even_num_list = []

for num in number_list:
    if num%2 == 0:
        even_num_sum = even_num_sum + num
        even_num_list.append(num)
        
print('The list of even numbers is : ', even_num_list)
print('The sum of the values in the list is: ', even_num_sum)

The list of even numbers is :  [22, 36, 6]
The sum of the values in the list is:  64

In [35]:
even_avg = even_num_sum/len(even_num_list)
print('The average is: ', even_avg)

The average is:  21.333333333333332

In [36]:
number_list_1 = [13, 15, 17, 21, 33, 29, 5]

In [42]:
# will return an error since we are only looking for even numbers in a list with none
# since we are returning an empty list, there will be an error 

even_list_1 = []

for num in number_list_1:
    if num%2 == 0:
        even_list_1.append(num)

even_avg_1 = sum(even_list_1)/len(even_list_1)

print('The list of even numbers is: ', even_list_1)
print('The average is: ', even_avg_1)

ZeroDivisionError: division by zero

In [43]:
# to get rid of the zero division error, add a new statement to return only zeros if no even numbers are found
even_list_1 = []

for num in number_list_1:
    if num%2 == 0:
        even_list_1.append(num)
    else:
        even_list_1.append(0)

In [44]:
even_list_1

[0, 0, 0, 0, 0, 0, 0]

In [45]:
even_avg_1 = sum(even_list_1)/len(even_list_1)
print('The average is: ', even_avg_1)

The average is:  0.0

## **6.** Write a Python program to receive two integers from user input using the `input()` function, and then calculate the sum of these two integers. If the sum is larger than 100, then return 100. Otherwise, return the original value. 

### Try to test the accuracy of your code with different scenarios.

In [47]:
# write you code here
input_sum = 0

for i in range(2):
    user_input = int(input('Pick a number: '))
    input_sum = input_sum + user_input
print('Total of both numbers is: ', input_sum)

Pick a number: 34
Pick a number: 22
Total of both numbers is:  56

In [48]:
if input_sum > 100:
    print(100)
else:
    print(input_sum)

56

In [49]:
input_sum = 0

for i in range(2):
    user_input = int(input('Pick a number: '))
    input_sum = input_sum + user_input
print('Total of both numbers is: ', input_sum)

Pick a number: 567
Pick a number: 456
Total of both numbers is:  1023

In [50]:
if input_sum > 100:
    print(100)
else:
    print(input_sum)

100

## **7.** Write a Python program to print the following patterns with nested for loop.
#### *
#### **
#### ***
#### ****
#### *****

In [95]:
limit = 5

for i in range(limit):
    for j in range(i+1):
        print("*", end = "")
print()

*
**
***
****
*****

## **8.** Write a Python code to print the following number matrix with nested for loop.

#### 1 2 3 4 5
#### 6 7 8 9 10
#### 11 12 13 14 15
#### 16 17 18 19 20
#### 21 22 23 24 25

In [6]:
for i in range(1, 22 , 5):
    for j in range (5):
        print(i, end = ' ')
        i = i+1
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

## **9.** Given the following two number lists `num_list_a` and `num_list_b`, print the pair multiplication of all the possible combinations if the item from the first list is not equal to the item from the second list, using nested `for` loop.

### For instance, the sample output should like:
### 1*3 = 3
### 1*6 = 6
### 1*11 = 11
### ......
### a*b = c (as long as a != b)
### ......

In [100]:
num_list_a = [1, 3, 6, 8, 9, 12]

num_list_b = [3, 6, 11, 12, 19, 8]

In [102]:
for x in num_list_a:
    for y in num_list_b:
        if x != y:
            print(x, '*', y, '=', x * y)

1 * 3 = 3
1 * 6 = 6
1 * 11 = 11
1 * 12 = 12
1 * 19 = 19
1 * 8 = 8
3 * 6 = 18
3 * 11 = 33
3 * 12 = 36
3 * 19 = 57
3 * 8 = 24
6 * 3 = 18
6 * 11 = 66
6 * 12 = 72
6 * 19 = 114
6 * 8 = 48
8 * 3 = 24
8 * 6 = 48
8 * 11 = 88
8 * 12 = 96
8 * 19 = 152
9 * 3 = 27
9 * 6 = 54
9 * 11 = 99
9 * 12 = 108
9 * 19 = 171
9 * 8 = 72
12 * 3 = 36
12 * 6 = 72
12 * 11 = 132
12 * 19 = 228
12 * 8 = 96

## **10.** Write a Python code to get all the prime numbers in the range of `[0, 100]`. Print all the prime numbers.

### Tip: how to find if a number is a prime number
### For number `a`, check if `a` is divisible by any number between `[2, a-1]`, if yes, then `a` is not a prime number. Otherwise, `a` is a prime number.

In [4]:
prime_list = []

for i in range(0, 101):
    if i > 1:
        for j in range(2, i):
            if i % j == 0: 
                break
        else:
            prime_list.append(i)`

In [5]:
print(prime_list, end= ' ')

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# class solution
prime_list = []

for i in range(2, 101):
    prime_flag = True
    for j in range(2, i):
        if i % j == 0: 
            prime_flag = False
   
    if prime_flag == True:
        prime_list.append(i)

In [3]:
print(prime_list, end = ' ')

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]